/*
 * autho:三杯虾
 * 
 */
body{
	font-family:-apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
	
}
body>.container{
	min-height: 550px;
}
a:hover{
	text-decoration: none;
}
header.nav-header{
	background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    height: 76px;
    line-height: 40px;
    margin-bottom: 40px;
}
.navbar{
	height: 76px;
}
ul.navbar-nav li.nav-item .nav-link{
	padding: 0 10px;
	font-size: 14px;
	color: #353535;
}
ul.navbar-nav li.nav-item .nav-link:hover{
	background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    border-radius: 0.4;
    border-radius: 0.2px;
}
.logo{
	height: 78px;
}
.logo img{
	height: 100%;
}
.btn-blue{
	background-color: #2185d0;
	color: white;
	width: 74px;
}
.btn-blue:hover{
	background-color:#1678c2;
}
.form-group label{
	font-size: 14px;
	font-weight: 700;
	
}
.a-register{
	background-color: #21ba45;
	color: white;
	text-decoration: none;
	font-size: 22px;
	font-weight: 500;
	padding: 8px 25px;
	border-radius: 5px;
	display: inline-block;
}
.icon-dingyue{
	font-size: 22px;
	margin-right: 5px;
}
.a-register:hover{
	text-decoration: none;
	background-color: #16ab39;
	color: white;
}
.div-register{
	text-align: center;
	position: relative;
	top: 20px;
}
.register{
	margin: 0 auto;
}
.a-special{
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	background-color:white ;
	color: rgba(0,0,0,.87);
	padding: 5px 28px;
	border-radius: 2px;
	border:1px solid #ccc;
	font-weight: 600;
}
.special-active{
	background-color: rgba(0,0,0,.05);
}
.a-special:hover{
	background-color: rgba(0,0,0,.05);
}
.card-deck{
	margin-top: 30px;
}
.order-vip{
	margin-top: 30px;
	display: block;
	font-size: 16px;
	padding: 10px 18px;
	text-align: center;
	background-color: #f2711c;
	color: white;
	font-weight: 600;
	border-radius: 5px;
}
.order-vip:hover{
	color: white;
	
}
.div-card{
	margin-top: 30px;
}
.card-body{
	margin-top: 10px;
}
.card-header{
	font-weight: 600;
}
.h5-card{
	font-size: 16px;
	text-align: center;
	color: #666;
}
.p-card img{
	width: 100%;
}
.a-pic{
	width: 136px;
    height: 136px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 24px;
    float: left;
}
.a-pic img{
	width: 100%;
	height: 100%;
}
.article-right{
	width: 464px;
	float: left;
}
article.article{
	overflow: hidden;
    padding: 24px;
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.05);
    border-radius: 8px;
    position: relative;
    margin-bottom: 16px;
}
article.article:hover{
	cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
}
.a-content,.a-title{
	height: 100%;
	display: inline-block;
}
.a-title h3{
	color: #07111B;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}
.a-content p{
	font-size: 12px;
    color: #93999F;
    line-height: 24px;
    word-wrap: break-word;
    height: 48px;
    overflow: hidden;
}
.article-footer{
	position: relative;
	height: 30px;
}
.article-footer span{
	width: inherit;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #93999F;
    position: absolute;
}
.article-footer .span-time{
	left: 40px;
}
.article-footer .span-view{
	right: 20px;
}
.article-footer .span-view a{
	color:#93999F;
}
/*
 * page
 */
.page{
	margin:20px 0;
    text-align: center;
}
.page a.current {
    background: #0457b7;
    color: #fff;
    border: none;
}
.page a {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    margin-right: 5px;
}
.page a:hover {
    background: #f5f5f5;
    }
    
/*
 * footer
 */
#footer {
	background: #000;
	border-top: 1px solid #e2e4e6;
	font-size: 12px;
	color: #787d82;
	margin-top:24px;
	padding:24px;
}

#footer .waper {
	width: 750px;
	margin: 0 auto;
}
#footer p {
	line-height: 1.7;
	padding-left: 40px;
}

.footer_logo {
	display: none;
	float: left;
	background: url(/static/img/common/footer-sprite.png) 0 -230px no-repeat;
	height: 40px;
	width: 120px;
	margin: 0 20px
}

#footer .des {
	width: 445px
}

#footer .followus {
	margin-right: 34px;
	padding-left: 30px
}

.followus a {
	float: left;
	position: relative;
	width: 32px;
	height: 32px;
	background-image: url(/static/img/common/footer-sprite.png);
	background-repeat: no-repeat;
	margin: 3px 6px 0;
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
	z-index: 1
}

#footer .followus a:hover {
	opacity: 1;
	filter: alpha(opacity=100)
}

.flw-weixin-box {
	position: absolute;
	display: none;
	width: 170px;
	height: 220px;
	left: -69px;
	bottom: 35px;
	background: url(/static/img/common/footer-sprite.png?1) no-repeat
}

.followus .followus-weixin {
	background-position: 0 -279px
}

.followus-weixin:hover .flw-weixin-box {
	display: block
}

.followus .followus-weibo {
	background-position: 0 -321px
}

.followus .followus-qzone {
	background-position: 0 -363px
}

.friend-links {
	line-height: 60px
}

.friend-links a {
	display: inline-block;
	margin-right: 20px
}

.friend-links a:hover {
	text-decoration: underline;
	color: #000
}

.friend-links dl {
	padding: 0 10px
}

.friend-links dd {
	float: left;
	width: 160px
}

.footer_link ul {
	overflow: hidden;
	margin-top: -1px
}

.footer_link a:active,
.footer_link a:link,
.footer_link a:visited {
	color: #c8cdd2
}

.footer_link a:hover {
	color: #fff
}

#footer .footer_link {
	margin-bottom: 4px;
	line-height: 1.8
}

#footer .footer_link li {
	margin-right: 30px;
	text-align: center;
	float: left;
	list-style: none;
}
/*
show.html
*/
/* header .head .head_left nav ul li,header .head .head_right nav ul li
{
	float: left;
	list-style: outside none none
}

header .head .head_left nav ul li a,header .head .head_right nav ul li a
{
	color: #fff;
	display: inline-block;
	font-weight: 400;
	line-height: 30px;
	padding: 0 5px
} */
header.show-header{
	margin: 10px 0 30px;
    padding-bottom: 11px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
}
header.show-header h1{
	padding-top: 20px;
    font-size: 24px;
    color: #333;
}
header.show-header h6{
	padding-top: 15px;
}
header.show-header span.vertical-line{
	margin:3px 15px 0;
	width: 1px;
    height: 12px;
    vertical-align: top;
}
.head_content
{
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
	overflow: hidden;
	line-height: 80px;
	height: 80px
}

.content_left
{
	width: 1200px;
	margin: 0 auto
}

.article_header
{
	color: #222
}

.article_content
{
	margin-top: 40px
}

.article_content p
{
	color: #222;
	font-size: 16px;
	line-height: 32px;
	overflow-wrap: break-word;
	margin: 0 0 10px;
	text-indent: 32px
}

.article_content img
{
	width: 100%
}
.article_about
{
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	overflow: hidden
}

.article_about ul
{
	float: left;
	width: 50%;
	margin: 30px 0;
	list-style-type: square;
	font-size: 9pt;
	border-left: 1px solid #dedede;
	padding-left: 19px;
	padding-right: 0
}

.article_about ul:first-child
{
	border-left: none;
	padding-left: 0
}

.article_about li
{
	color: #d3d3d3;
	padding: 5px 0;
	font-size: 14px;
	margin-left: 20px;
	height: 40px;
	line-height: 20px;
	list-style-type: square;
}

.article_about li a
{
	display: inline-block;
	height: 100%;
	width: 98%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-word;
	vertical-align: top;
	color:#666;
}
.article_about li a:hover{
	color: #f25618;
}

/**
导航栏面包削
*/
.breadcrumb{
	font-size: 12px;
	background: #f5f5f5;
}
.breadcrumb a{
	color: #999;
}
.breadcrumb a:hover{
	color: #f25618;
}
.breadcrumb .active{
	color: #333;
}

/*
返回顶部
*/
#floatPanel .ctrolPanel{width:36px;height:100px;background:#fff;border:solid 1px #ddd;position:fixed;right:0px;top:350px;overflow:hidden;z-index:2; _position:absolute;}
#floatPanel .ctrolPanel a{width:34px;font-size:12px;letter-spacing:1px;text-align:center;overflow:hidden; text-decoration: none;height:32px;line-height:31px;display:block;margin:1px auto;}
#floatPanel .ctrolPanel a:hover{color: #f60;background:#f4f4f4;}
#floatPanel .ctrolPanel a.contact{border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;}

/**
留言板
*/
.empty {
    text-align:center;
    padding:50px 50px;
    color:#666666;
}
.empty .empty-a{
	background: transparent none!important;
    color: rgba(0,0,0,.6)!important;
    font-weight: 400;
    border-radius: .28571429rem;
    text-transform: none;
	text-shadow: none!important;
	padding: 10px;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
}
.box {color:#111111;padding:0 0 0 100px;position:relative;}
.box .author {width:96px;position:absolute;left:0;top:10px;}
.box .author .avatar img {width:72px;border-radius:72px;}

.box .title {font-size:36px;font-weight:normal;margin-bottom:10px;line-height:1.3;padding-right:100px;}
.box .title span {font-style: italic;color:#999999;font-weight:normal;}
.box .thread-info {color:#666666;}
.box .content-box {margin-top:10px;}
.box .content-box-3 {border-left:#a3d5f3 solid 3px;}
.box .content-box .content-link {line-height:1.7;font-size:16px;color:#000000;display:block;background-color: hsla(0,0%,96%,.88);padding:15px;max-width:450px;border-radius:10px;margin-top:10px;}
.box .content-box .content-link span {font-size:14px;font-style: italic;color:#888}
.box .content-box .thread-tags {margin-bottom:5px;}
.box .content-box .thread-tags a {color: #808393;background: #f4f4fa;position: relative;display: inline-block;font-size: 14px;padding: 6px 12px;margin: 2px 2px 2px 0;line-height: 1;white-space: nowrap;  font-weight: normal;  border-radius: 12px;text-decoration: none;text-align: center;transition: all .15s ease-in-out;}
.box .content-box .thread-tags a.top {background:#F60;color:#FFF;}
.box .content-box .thread-tags a.forum_recommend {background: #05c046;color:#FFF;}
.box .content {font-weight:normal;-webkit-font-smoothing: antialiased;}
.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em 0;
    width: 100%;
    min-height: 0;
    background: 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;}
.item .content {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: 0 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
}
.box .content .date {padding-bottom:10px;}
.box .content h1 {margin-top:35px;font-size: 36px;font-weight:normal}
.box .content h2 {margin-top: 25px;font-size: 26px;font-weight:normal}
.box .content h2 + p, .box .content h1 + p {margin-top: 15px;}
.box .content img {display: block;margin:25px auto 0 auto;max-width:500px}
.box .content p {margin:0 0 20px 0;font-weight: normal;font-size: 15px;line-height:1.67;color:#111111;}
.box .content-2 {margin:15px 0;padding-right:50px;}
.box .content-2 p {font-size:24px;line-height:1.3;font-weight:normal;font-family:Georgia,Cambria,"Times New Roman",Times,serif}
.box .content-3 p {font-size:18px;line-height:1.5;font-weight:bold;}
.box .content p:last-child {margin-bottom:0}
.box .content p em {font-style: italic;color:#666;}
.box .content p a {color:#000;border-bottom:#000 solid 1px;}
.box .content p a:hover {font-weight:bold;}
.box .content pre {margin-top: 15px;}
.box .content blockquote {
    border-radius:3px;position: relative;margin:20px 0;color: #000000;padding:10px;background-color:#e7edf3;
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
}
.box .content blockquote p {margin: 0 !important;line-height: 1.6;font-size: 14px;color: #4d4d4d;}
.box .content blockquote p strong {display:inline-block;padding:0 7px;border-radius:20px;background: #f9b401;color:#000000;}
.box .content ul {margin-top: 10px;margin-bottom: 15px;margin-left: 19px}
.box .content ul li {margin-bottom:7px;font-size: 15px;list-style: circle!important;}
.box .content ol {margin-bottom: 10px;margin-left:19px;}
.box .content ol li {margin-bottom:7px;color: #000;list-style: circle !important;font-size: 15px}
.box .content .hljs {background:#f7f7f7;border:border-radius:6px;font-size:13px;padding:10px!important;}
.box .tip {padding:10px 0;margin:50px 0 0 0;background:#F9F9F9;text-align: center;color:#EF1F12;border-top:#eee solid 1px;border-bottom:#eee solid 1px;}
.box .share {padding:15px 0;text-align: center;}
.replys-box {padding:0 0 0 100px;position:relative;margin-top:20px;}
.replys-box .replys-box-tit {font-size: 18px;font-weight:bold;color: #333;margin-top:25px;}
.replys-box .replys-box-tit i {font-size:18px;}
.replys-box .summary {display:none;}
.replys-box .replys .item {transition: .2s box-shadow,top .2s,opacity .2s;border-bottom:#EEEEEE solid 1px;padding-bottom:30px;padding-top:10px;}
.replys-box .replys .item .avatar {margin-right:15px;text-align:center;}
.replys-box .replys .item .avatar img {width:50px!important;margin:0 auto;height:50px;border-radius:50px;}
.replys-box .replys .item .content .header strong {color: #000000 !important;font-size:14px;font-weight:bold}
.replys-box .replys .item .content .header span {font-size:13px;}
.replys-box .replys .item .content .description {font-size:14px;color:#40485B;margin-top:5px;}
.replys-box .replys .item .content .description .today-no-auth-read {
    color:#999999;
    font-style: italic;
    border-radius:4px;border:#CCCCCC dashed 1px;
    padding:10px;
}
.replys-box .replys .item .content .info {margin-top:5px;font-size:12.5px;color:#8c92a4 !important}
.replys-box .replys .item .content ul {margin-top: 10px;margin-bottom: 15px;margin-left: 19px}
.replys-box .replys .item .content ul li {margin-bottom:7px;font-size: 15px;list-style: circle!important;}
.replys-box .replys .item .content ol {margin-bottom: 10px;margin-left:19px;}
.replys-box .replys .item .content ol li {margin-bottom:7px;color: #000;list-style: circle !important;font-size: 15px}
.replys-box .replys .item .content .reply-replys {margin-top:10px;}
.replys-box .replys .item .content .reply-replys .reply-reply {border:1px solid #e1e1e8;padding:10px;background:#f7f7f9;border-radius:3px;}
.replys-box .replys .item .content .reply-replys .reply-reply .reply-reply-user {padding-left:0}
.replys-box .replys .item .content .reply-replys .reply-reply .reply-reply-user img {width:24px;height:24px;float:left;}
.replys-box .replys .item .content .reply-replys .reply-reply .reply-reply-user strong {margin:0 5px;float:left;display:inline-block;height:24px;line-height:24px;color: #333 !important;font-size:14px;}
.replys-box .replys .item .content .reply-replys .reply-reply .reply-reply-user span {float:left;display:inline-block;height:24px;line-height:24px;font-size:12.5px;}
.replys-box .replys .item .content .reply-replys .reply-reply .reply-reply-info {margin-top:5px;font-size:12.5px;color:#8c92a4 !important}
.replys-box .replys .item .content .reply-replys .reply-reply .description {margin-top:5px;display:inline-block;}

/*
rights 版权
*/

section.rights{
	margin-top: 20px;
	border-top: 1px dashed #333;
}
section.rights .rights-title{
	margin:20px 0;
    font-size: 16px;
    color: #666;
}
section.rights .rights-content{
	font-size: 14px;
    color: #999;
}
/*
	like 点赞数
**/
.read-like{
	padding-top: 40px;
	margin:20px 0;
	overflow: hidden;
	line-height: 30px;
}
.div-read{
	color: #666;
	float: left;
}
.div-read .num{
	color: #fc6464;
}
.span-like{
	float: right;
}
.span-like .iconfont{
	font-size: 22px;
	display:inline-block;
}

.span-like span{
	margin: 0 5px;
	padding: 0 5px;
}
.span-like .like .iconfont{
	transform:rotate(180deg);
}

/**
about 关于我们
*/
.about-left{
	padding: 0 20px;
    overflow: visible;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    list-style-type: none;
}
.about-left li{
	height: 60px;
    overflow: visible;
	border-bottom: 1px solid #edf1f2;
	position: relative;
}
.about-left .active:before{
	content: " ";
    position: absolute;
    top: 0;
    width: 2px;
    height: 60px;
    background-color: #c00;
    left: -20px;
}
.about-left .active a{
	color: #c00;
}
.about-left li a{
	display: block;
    padding: 0 10px 0 30px;
    margin-left: -20px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 14px;
    color: #787d82;
}
.about-right{
	padding: 10px 40px 50px;
	overflow: visible;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.about-right h1{
	font-size: 16px;
    line-height: 49px;
	color: #363d40;
	padding-bottom: 15px;
	border-bottom: 1px solid #eceff0;
}
.friend-content dl{
	padding: 0 10px;
	overflow: hidden;
}
.friend-content dd{
	font-size: 12px;
	float: left;
	width: 25%;
	height: 60px;
}
.friend-content a{
	display: inline-block;
	margin-right: 20px;
	color: #333;
}